<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Node Webserver</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h5>The website is receiving updates, check back soon.</h5>
</body>

</html>